%br
-# Form B
%h2 Form 13424-B Case Issues Report

- last_heading = ""
- Item.b_fields.each do |field|
  - field_heading = Item.b_hash[field][1]
  - field_name = Item.b_hash[field][0]
  - if field_heading != last_heading
    %h2 #{field_heading}
    - last_heading = field_heading
  = @metrics[field]
  = "-----"
  = label :item, field, field_name
  %br
          
%h1 Form 13424-K Case Information Report
